name: Modernisation Platform Image Build and Push

on:
  workflow_dispatch:

jobs:
  build-image:
    name: Build Image
    permissions:
      id-token: write
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: "arn:aws:iam::326912278139:role/modernisation-platform-oidc-cicd"
          role-session-name: "hmpps-pwm-${{ github.run_number }}"
          aws-region: eu-west-2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build image
        uses: docker/build-push-action@v5
        with:
          context: ./docker
          tags: 374269020027.dkr.ecr.eu-west-2.amazonaws.com/delius-core-password-reset:${{ github.run_id }}-${{ github.run_attempt }}, 374269020027.dkr.ecr.eu-west-2.amazonaws.com/delius-core-password-reset:latest
          push: true
